format_version: 1.3.0
default_step_lib_source: https://github.com/bitrise-io/bitrise-steplib.git
containers:
  invalid-port:
    type: execution
    image: frolvlad/alpine-bash:latest
    ports:
    - 22:22
  valid-port:
    type: execution
    image: frolvlad/alpine-bash:latest
    ports:
    - 12341:12341
  unhealthy-container:
    type: execution
    image: frolvlad/alpine-bash:latest
    options: --health-cmd "redis-cli ping" --health-interval 1s --health-timeout 3s --health-retries 2
  invalid-option:
    type: execution
    image: frolvlad/alpine-bash:latest
    options: --invalid-option "fail now!"
workflows:
  docker-create-fails-invalid-port:
    title: Expected to fail on docker create, invalid port provided
    steps:
    - script:
        title: Should not run due to prev error
        execution_container: invalid-port
        inputs:
        - content: exit 0
  docker-create-succeeds-valid-port:
    title: Expected to pass on docker create, valid port provided
    steps:
    - script:
        title: Should succeed
        execution_container: valid-port
        inputs:
        - content: exit 0
  docker-create-succeeds-with-false-unhealthy-container:
    title: Expected to log error on docker create
    description: Expected to log error on docker create, because healthchecks are wrong, however execution should continue
    steps:
    - script:
        title: Should succceed
        execution_container: unhealthy-container
        inputs:
        - content: exit 0
  docker-create-fails-invalid-option:
    title: Expected to log error on docker create
    description: Expected to log error on docker create, because healthcheck are wrong, however execution should continue
    steps:
    - script:
        title: Should fail
        execution_container: invalid-option
        inputs:
        - content: exit 0
